<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/style.css">
    <title>Show</title>
</head>

<body>
    <header>
        <nav>
            <h1>Best Books!</h1>
        </nav>
    </header>
    <main>
        <legend>Result</legend>
        <section id='book'>
            <% booksArray.forEach(element=>{%>
                <div class="bookDiv">
                    <img class="bookImg" src="<%= element.img%>" alt="">
                    <h2 class="Tilte">
                        <%= element.title%>
                    </h2>
                    <p class="Author">
                        <%= element.author%>
                    </p>
                    <p class="description">
                        <%= element.description%>
                    </p>
                    <form action="/books" method="POST">
                        <input style="display: none;" type="text" name='title' value="<%= element.title%>">
                        <input style="display: none;" type="text" name='author' value="<%= element.author%>">
                        <input style="display: none;" type="text" name='description' value="<%= element.description%>">
                        <input style="display: none;" type="text" name='img' value="<%= element.img%>">
                        <button type="submit" class="select">Select This Book</button>
                    </form>
                </div>
                <%});%>
        </section>

    </main>

</body>

</html>